.hero {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}

.greeting {
    color: #606c38;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 2px;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

.sirname {
    color: rgba(0, 0, 0, 0.8);
}

.whatido {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.6);
}

p {
    color: rgba(0, 0, 0, 0.6);
}

.shortintro {
    color: rgba(0, 0, 0, 0.6);
    line-height: 26px;
    margin-top: 20px;
    max-width: 540px;
    margin-bottom: 2rem;
}

.resume-btn {
    background-color: transparent;
    border: solid 1px #606c38;
    border-radius: 4px;
    color: #606c38;
    font-weight: 500;
}

.big {
    padding: 1.25rem 1.75rem;
    margin-top: 50px;
    padding: 1.25rem 1.75rem;
}

.big:hover {
    cursor: pointer;
    background-color: #606c383d;
    border: solid 1px #606c3871;
}

.big:active {
    border: solid 1px #606c383d;
    background-color: #606c3857;
    color: white;
}

/* tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .head {
        padding: 0 50px;
    }
}

/* desktop styles */
@media only screen and (min-width: 1024px) {
    .head {
        padding: 0 50px;
    }

    main {
        padding: 0px 150px;
    }

    .greeting {
        margin-bottom: 30px;
        margin-left: 4px;
    }

    .sirname {
        font-size: 80px;
    }

    .whatido {
        font-size: 80px;
    }

    .about .about-text {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 50px;
    }
}