:root {
    --heading: rgba(0, 0, 0);
    --paragraph: rgba(0, 0, 0, 0.8);
    --lightgreen: rgba(96, 108, 56, 0.452);
    --lightblack: rgba(0, 0, 0, 0.205);
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--lightgreen);
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

main {
    display: block;
}

h1 {
    color: var(--heading);
    font-size: 40px;
    font-weight: 500;
}

p {
    color: var(--paragraph);
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.hero-container {
    width: 100%;
    max-width: 650px;
    padding: 15px;
}

.hero {
    display: block;
    margin-top: 0em;
}

.logo {
    position: fixed;
    z-index: -200;
    top: -120px;
    right: -120px;
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
}

  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
}

/* tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* desktop styles */
@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 80px;
    }
}
