* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero */
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

.fishing-svg {
    margin-bottom: 3rem;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
    .hero {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .fishing-svg {
        margin-bottom: 0;
    }

    .about {
        width: 325px;
    }
}

/* Resume */
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    margin: 4px 2px;
}
